var scaleDataStore = {
  scale: 1,
  originScale: 1,
  pointA: null,
  pointB: null
}

var _getDistance = function (pointA, pointB) {
  let distance = Math.sqrt(Math.pow(pointA.pageX - pointB.pageX, 2) + Math.pow(pointA.pageY - pointB.pageY, 2))
  return distance
}


module.exports = {
  touchStart:function (event,ownerInstance) {
    var instance = ownerInstance.selectComponent('#ocr') // 返回组件的实例
    instance.setStyle({
      "background-color":"red"
    })
    instance.callMethod("chooseImage",{})
    console.log('touchStart: ', event,JSON.stringify(instance.getComputedStyle(["width"])));
    //第一个触摸点
    if (!scaleDataStore.pointA) {
      scaleDataStore.pointA = {
        pageX: event.changedTouches[0].pageX,
        pageY: event.changedTouches[0].pageY
      }
    }
    scaleDataStore.originScale = scaleDataStore.scale
  },
  touchMove:function (event) {
    console.log('touchMove: ', event.changedTouches);
    if (event.changedTouches.length !== 2) return
    //第二个触摸点
    if (!scaleDataStore.pointB) {
      scaleDataStore.pointB = {
        pageX: event.changedTouches[1].pageX,
        pageY: event.changedTouches[1].pageY
      }
    }
    let pointA = {
      pageX: event.changedTouches[0].pageX,
      pageY: event.changedTouches[0].pageY
    }
    let pointB = {
      pageX: event.changedTouches[1].pageX,
      pageY: event.changedTouches[1].pageY
    }
    let zoomRatio = this._getDistance(pointA, pointB) / this._getDistance(scaleDataStore.pointA, scaleDataStore.pointB)
    let newScale = zoomRatio * scaleDataStore.originScale
  
    if (newScale > 3) {
      newScale = 3
    }
    if (newScale < 1) {
      newScale = 1
    }
    scaleDataStore.scale = newScale
    this.setData({
      newScale: newScale,
    })
  },
  touchEnd: function () {
    console.log('touchEnd');
    delete scaleDataStore.pointA
    delete scaleDataStore.pointB
  },
  touchCancel: function () {
    console.log('touchCancel');
    delete scaleDataStore.pointA
    delete scaleDataStore.pointB
  }
}